<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= app_id %>',
      channelUrl : '//<%= domain %>/channel.html',
      status     : <%= status %>,
      cookie     : <%= cookie %>,
      xfbml      : <%= xfbml %>
    });

    // Additional initialization code such as adding Event Listeners goes here

  };
  (function(d, debug){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
    ref.parentNode.insertBefore(js, ref);
  }(document, <%= debug %>));
</script>
